<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="postgres2.Properties.Settings.basedatos1ConnectionString"
            connectionString="Host=35.231.121.196;Database=basedatos1;Username=postgres;Persist Security Info=True;password=12345"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>